@tailwind base;
@tailwind components;
@tailwind utilities;

.background {
  background-image: url('./assets/finances.png');
  background-repeat: no-repeat;
  background-size: cover;
}

@layer components {
  .buttonGo {
    @apply bg-[#6EE7B7] w-32 text-[#1E293B] text-xl text-center mx-3 p-3 rounded-md
  }
  
}